# Copy to env.sh, fill in values, and source file. 
-- Bucket and keys for S3 access; must have write permission on the bucket.
export AWS_S3_REGION="region, e.g., us-east-1"
export AWS_ACCESS_KEY_ID="somekey"
export AWS_SECRET_ACCESS_KEY="somesecretkey"

-- Path to Parquet dataset of the form bucket_name/dir1/.../dirN/table_name/
export S3_DATASET_PATH="bucket_name/0_or_more_directories/table_name/"
