# Copy to env.sh and source from this directory. 
export PATH="$PATH:$PWD"
-- Database host and credentials.
export CH_HOST=somehost
export CH_USER=someuser
export CH_PASSWORD=somepassword
-- Bucket and keys for S3 access; must have write permission on the bucket.
export AWS_S3_BUCKET="somebucket"
export AWS_ACCESS_KEY_ID="somekey"
export AWS_SECRET_ACCESS_KEY="somesecretkey"
